
<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Home</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="getting-started">
	<div class="home-hello">
		<img src="assets/img/01_bg.jpg"/>

		<div class="hello-title" text-wrap>
			<h1>Ad'oro S.A.</h1>
			 Estrada de Acesso SP 053/332 Km 04 – Bairro do Mursa Varzea Paulista/SP
		</div>
	</div>

	<ion-row *ngFor="let tilePair of tiles">
		<ion-col *ngFor="let tile of tilePair">
			<ion-card class="tile" (click)="navigateTo(tile)">
				<ion-card-content>
					<ion-item>
						<h1>
							<ion-icon [name]="tile.icon"></ion-icon>
						</h1>
						<h2>{{tile.title}}</h2>
					</ion-item>
				</ion-card-content>
			</ion-card>
		</ion-col>
	</ion-row>

	<ion-row>
		<ion-card class="quick-action" (click)="callUs()">
			<ion-card-content>
				<ion-icon name="phone-portrait"></ion-icon>
				<span>ligue para TI Adoro</span>
			</ion-card-content>
		</ion-card>
	</ion-row>

	<ion-row>
		<ion-card class="quick-action" (click)="sendEmail()">
			<ion-card-content>
				<ion-icon name="mail"></ion-icon>
				<span>Suporte Mobile</span>
			</ion-card-content>
		</ion-card>
	</ion-row>

	<ion-row>

		<ion-card class="quick-action" (click)="getDirections()">
			<ion-card-content>
				<ion-icon name="compass"></ion-icon>
				<span>Nossa localização</span>
			</ion-card-content>
		</ion-card>
	</ion-row>

<!--<ion-row>

		<ion-card class="quick-action" (click)="openFacebookPage()">
			<ion-card-content>
				<ion-icon name="logo-facebook"></ion-icon>
				<span>Visite-nos no Facebook</span>
			</ion-card-content>
		</ion-card>
	</ion-row> -->

</ion-content>
